*{
    box-sizing: border-box;
    font-family:  sans-serif;
    
}
body{
    background-color: rgb(197, 222, 245);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
header .logo
{
    position: relative;
    max-width: 150px;
}
header ul
{
    position: relative;
    display: flex;
    border-radius: 50px;
    border: 1px solid #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: #000 1px 5px 15px;
}
header ul li 
{
    list-style: none;
    border-radius: 20px;
    border: 1px solid #000;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 15px;
   
    

}
header ul li a 
{
    
    display: inline-block;
    color: #333;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
   
}
.name-logo{
    border: none;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    
}
.name-logo span{
    color:rgb(89, 122, 150);
}
.field{
    position:absolute;
    margin-top: 140px;
    margin-left: 50px;
    border: 1px solid #fff;
    border-radius: 20px;
    background-color:aliceblue;
    width: 50%;
    

}
.letter{
    font-size: 50px;
    font-weight: 800;
}
.letter span
{
    color:rgb(89, 122, 150) ;
}
 h3{
    text-align: center;
    font-size: 20px;
}
.consult
{
    margin-top: 10px;
}
.run{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.date{
    margin-top: 10px;
}
.save
{
    margin-top: 20px;
}
.select{
   
    padding-top: 10px;
}

